<div class="card event-details-card budget-switch-off-details-card rounded-0 <%= 'border-bottom-0' if locals[:bottom_border] %>">
  <div class="event-details-column budget-switch-off-text">
    <p>
      This is an automated switch off event that has been scheduled to ensure that the budget
      is not overrun.
    </p>
    <p>
      Based on current levels of usage, costs were forecasted to exceed the budget.
      This event will be automatically cancelled if usage levels change and forecasted
      costs are reduced to be within budget.
    </p>
  </div>
</div>