<div id="wizard-choose-extras" class="wizard-section" style="display:none;">
  <div class="wizard-title">
    <h4>Optional Extras</h4>
  </div>
  <div class="row select-extras justify-content-center">
    <div class="col-1"></div>
    <div class="col-5">
      <div class="row mb-3">
        <div class="form scheduled-description-section">
          <label><strong>Description:</strong>
            <input type="text"
                   name="description"
                   class="form-control"
                   id="scheduled-description"
                   value='<%= "#{sanitize(@request.description)}" if @request %>'>
          </label>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-10 extras-section" id="override-hours-form">
      <div class="form-inline">
        <label><strong>Monitor Override</strong><a href="#" class="tool-tip" data-placement="top" title="When the request is carried out, temporarily pause nodes being switched off due to low CPU utilisation, for up to 8 hours." onClick="return false;"><sup>?</sup></a>:
        <input type="number" 
               min="1"
               max="8"
               class="form-control extras-input"
               id="override-hours"
               name="monitor_override_hours"
               <%= "value=#{@request.monitor_override_hours}" if @request %>
        >  hour(s)
      </div>
    </div>
  </div>
</div>
