<div class="card event-details-card">
  event details card

  <div class="card-footer">
    Status: PENDING

    <button class="btn btn-sm btn-danger cancel-button"
            onclick="window.location.href='/events/'">
      Cancel
    </button>
    <button class="btn btn-sm btn-warning edit-button"
            onclick="window.location.href='/events/'">
      Edit
    </button>
  </div>
</div>