<div id="wizard-choose-review" class="wizard-section" style="display:none">
  <div class="wizard-title">
    <h4>Review</h4>
  </div>
  <%= render '/change_requests/simple_chart' %>
  <div class="row">
    <div class="col" id="request-summary">
      <div id="request-choices-summary">
      </div>
      <div id="request-over-budget-switch-offs" style="display:none">
        <div id="over-budget-switch-off-details">
        </div>
      </div>
      <input type="text"
             id="over-budget-switch-offs-checkbox"
             name="over_budget_switch_offs"
             <%= "value='#{@change_request.over_budget_switch_offs}'" if @change_request %>>
      <div id="over-balance-warning" class="text-danger" style="display:none;">
        Request is forecast to exceed balance.
      </div>
      <div id="over-budget-warning" class="text-danger" style="display:none">
        Request is forecast to exceed budget.
      </div>
    </div>
  </div>
</div>
