<div class="circle"></div>
<div class="two-columns full-height bg-blue">
  <div class="full-height justify-content-center">
    <%= image_tag("control_landing.svg", class: 'landing-image') %>
  </div>
  <div class="full-height">
    <div class="circle-content">
      <strong>
        Take <span class="blue-text">control</span> of your cloud resources
      </strong>
      <h4 class="tagline">
        Control your compute nodes, monitor your spending and
        get tips for improving your workflow efficiency, all using a
        clear and easy to use interface.
      </h4>
      <%= link_to "LOG IN", unauthenticated_root_path, class: "button" %>
    </div>
  </div>
</div>
<div class="three-columns">
</div>