<% locals[:logs].each do |log| %>
  <div class="row audit-row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <%= render "partials/#{log.partial}", locals: {log: log} %>
    </div>
  </div>
<% end %>
