<div id="wizard-choose-extras" class="wizard-section" style="display:none;">
  <div class="wizard-title">
    <h4>Optional Extras</h4>
  </div>
  <div class="row text-center select-extras">
    <div class="col-1"></div>
    <div class="col-5">
      <div class="row mb-3">
        <div class="form scheduled-description-section">
          <label><strong>Description:</strong>
            <input type="text" name="description" class="form-control scheduled-input"
               id="scheduled-description">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
