<div id="wizard-choose-review" class="wizard-section" style="display:none;">
  <div class="wizard-title">
    <h4>Review</h4>
  </div>
  <div class="text-center">
    <h3 class="chart-title">Estimated Costs</h3>
    <canvas id="simpleChart"></canvas>
  </div>
</div>
