<div id="wizard-choose-review" class="wizard-section" style="display:none">
  <div class="wizard-title">
    <h4>Review</h4>
  </div>
  <%= render '/events/simple_chart' %>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" id="request-summary">
    </div>
  </div>
</div>
