<% locals[:compute_groups].each do |group| %>
  <td>
    <% if locals[:schedule].counts[group] %>
      <% if locals[:schedule].switch_all_on?(group) %>
        All on
      <% else %>
        <% locals[:schedule].counts[group].each do |type, count| %>
          <%= "#{count} x #{InstanceMapping.customer_facing_type(@project.platform, type)}" %>
          <br>
        <% end %>
      <% end %>
    <% else %>
      -
    <% end %>
  </td>
<% end %>
<td class="d-flex justify-content-center">
  <%= button_to "Cancel", {action: "cancel", id: locals[:schedule].actual_or_parent_id, project:  locals[:schedule].project.name}, {data: { confirm: 'Are you sure you want to cancel this request?' },class: "btn btn-sm btn-danger"} %>
  <% if locals[:schedule].editable? %>
    <button class="btn btn-sm btn-warning edit-button"
    onclick="window.location.href='/events/<%= locals[:schedule].actual_or_parent_id %>'">
      Edit
    </button>
  <% end %>
</td>