<% year = Date.current.year %>
<% project = @project.decorate %>

<h2 class="ml-2 mb-5 text-center">Billing History</h2>
<canvas id="billingHistoryChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
  let year = <%= raw(year) %>;
  let data = <%= raw(project.billing_chart_data(year).to_json) %>;
  let tooltips = <%= raw(project.billing_history_tooltips(year).to_json) %>;
  const ctx = document.getElementById('billingHistoryChart');
  new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        data: data,
        borderWidth: 2,
        tooltips: tooltips,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Total (cu)',
            font: {
              size: 20,
            },
            padding: {
              bottom: 20
            }
          },
          ticks: {
            font: {
              size: 16,
            },
            maxTicksLimit: 8
          },
          grid: {
            color: '#CFEDFA'
          },
          border: {
            color: '#AEC7D7'
          }
        },
        x: {
          title: {
            display: true,
            text: 'Billing date',
            font: {
              size: 20,
            },
            padding: {
              top: 20
            }
          },
          ticks: {
            font: {
              size: 16,
            }
          },
          grid: {
            color: '#CFEDFA'
          },
          border: {
            color: '#AEC7D7'
          },
          type: 'time',
          time: {
            unit: 'month',
            displayFormats: {
              'week': 'DD.MM',
              'month': 'do MMM',
              'year': 'MMMM',
            },
          },
          min: `${year - 1}-12-20`,
          max: `${year}-12-31`,
        }
      },
      elements: {
        point: {
          pointBorderColor: '#2693D7',
          pointBorderWidth: 4,
          pointBackgroundColor: '#ffffff',
          pointRadius: 5,
          pointHitRadius: 5
        }
      },
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          displayColors: false,
          bodyAlign: 'center',
          yAlign: 'bottom',
          bodyFont: {
            size: 16
          },
          callbacks: {
            title: function () {
              return ""
            },
            label: function (context) {
              return context.dataset.tooltips[context.dataIndex];
            }
          }
        }
      }
    }
  });
</script>
