<% year = Date.current.year %>
<% project = @project.decorate %>

<h2 class="ml-2 mb-5 text-center">Billing History</h2>
<select name="years" id="years" onchange="changeYear()">
  <option value="2023">2023</option>
  <option value="2024" selected="selected">2024</option>
</select>

<canvas id="billingHistoryChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
  let year = <%= raw(year) %>;
  const allData = <%= raw(project.billing_chart_data.to_json) %>;
  const allTooltips = <%= raw(project.billing_chart_tooltips.to_json) %>;
  const gridColour = '#CFEDFA';
  const borderColour = '#AEC7D7';
  
  const ctx = document.getElementById('billingHistoryChart');
  let chart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        data: allData[year],
        borderWidth: 2,
        tooltips: allTooltips[year],
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Total (cu)',
            font: {
              size: 20,
            },
            padding: {
              bottom: 20
            }
          },
          ticks: {
            font: {
              size: 16,
            },
            maxTicksLimit: 8
          },
          grid: {
            color: gridColour
          },
          border: {
            color: borderColour
          }
        },
        x: {
          title: {
            display: true,
            text: 'Billing date',
            font: {
              size: 20,
            },
            padding: {
              top: 20
            }
          },
          ticks: {
            font: {
              size: 16,
            }
          },
          grid: {
            color: gridColour
          },
          border: {
            color: borderColour
          },
          type: 'time',
          time: {
            unit: 'month',
            displayFormats: {
              'week': 'DD.MM',
              'month': 'do MMM',
              'year': 'MMMM',
            },
          },
          min: minDate(year),
          max: maxDate(year),
        }
      },
      elements: {
        point: {
          pointBorderColor: '#2693D7',
          pointBorderWidth: 4,
          pointBackgroundColor: '#ffffff',
          pointRadius: 5,
          pointHitRadius: 5
        }
      },
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          displayColors: false,
          bodyAlign: 'center',
          yAlign: 'bottom',
          bodyFont: {
            size: 16
          },
          callbacks: {
            title: function () {
              return ""
            },
            label: function (context) {
              return context.dataset.tooltips[context.dataIndex];
            }
          }
        }
      }
    }
  });

  function changeYear() {
    let year = Number(document.getElementById("years").value);
    chart.data.datasets.forEach(function(dataset) {
      dataset.data = allData[year];
      dataset.tooltips = allTooltips[year];
    });
    chart.options.scales.x.min = minDate(year);
    chart.options.scales.x.max = maxDate(year);
    chart.update();
  }

  function minDate(year) {
    return `${year - 1}-12-20`;
  }

  function maxDate(year) {
    return `${year}-12-31`;
  }
</script>
