<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h3 class="ml-2 text-center">Billing History</h3>
    <table class="table table-bordered text-center" id="billing-cycles-table">
      <thead class="table-primary border">
        <tr>
          <th scope="col">Billing Period</th>
          <th scope="col">Total</th>
          <th scope="col">Tools</th>
        </tr>
      </thead>
      <tbody class="border">
        <% @billing_cycles.each do |details| %>
          <tr>
            <td><%= "#{'[Current]' if details[:current]} #{details[:start]} - #{details[:end]}" %></td>
            <td><%= details[:cost].to_i %>c.u.<%= ' (estimate)' if details[:estimate] %></td>
            <td>
              <%= link_to "View", project_costs_breakdown_path(@project, start_date: details[:start], end_date: details[:end]) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
