<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h3 class="ml-2">Billing History</h3>
    <table class="table" id="billing-cycles-table">
      <thead class="table-primary events-table-header border">
        <tr>
          <th scope="col" class="text-center">Billing Period</th>
          <th scope="col" class="text-center">Total</th>
          <th scope="col" class="text-cente">Tools</th>
        </tr>
      </thead>
      <tbody class="border">
        <% @billing_cycles.each do |details| %>
          <tr>
            <td><%= "#{'[Current]' if details[:current]} #{details[:start]} - #{details[:end]}" %></td>
            <td><%= details[:cost] %>c.u.<%= ' (estimate)' if details[:estimate] %></td>
            <td>
              <%= link_to "View", costs_breakdown_path(project: @project.name, start_date: details[:start], end_date: details[:end]), data: {turbolinks: "false"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
