<main class="col-md-12 ml-sm-auto col-lg-12 px-4" role="main">
  <div class="mt-4 text-center mb-4">
    <h2><%= @project.name %> - Billing Management</h2>
    <%= render '/projects/cycles_table' %>
  </div>
</main>
