<div class="container-fluid pl-0">
  <main class="col-md-12 ml-sm-auto col-lg-12 px-4" role="main">
    <div class="mt-4 text-center mb-4">
      <h2><%= @project.name %> - Cost Breakdown</h2>
    </div>
    <%= render '/projects/costs_chart' %>
  </main>
</div>
