<main class="col-md-12 ml-sm-auto col-lg-12 px-4" role="main">
  <%= render '/partials/nav.erb' %>
  <div class="mt-4 text-center mb-4">
    <h2>No available projects</h2>
    <p>
      You have no projects available to view. Please contact an administrator
      to be assigned to a project.
    </p>
  </div>
</main>
