body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.1rem;
  color: var(--text-grey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  background-color: var(--alces-blue);
  border-radius: 2px;
  border: none;
  padding: 0.5rem 2rem;
  text-align: center;
  color: white !important;
  width: fit-content;
  transition: none !important;
  cursor: pointer;
}

.button:hover {
  color: white !important;
  filter: brightness(0.9);
}

.button:visited {
  color: white !important;
}

.blue-text {
  color: var(--alces-blue);
}

.bg-blue {
  background-color: var(--light-bg-blue);
}

.session-alerts.overlaid {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.alert-info {
  color: var(--alces-grey);
  border-color: #C1E8F9;
  background-color: white;
}

.alert-info span {
  color: var(--alces-blue);
}

.full-height {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: calc(100vh - 50px - 2.675rem);
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.two-columns > div {
  padding: 1.5rem;
}

.two-columns > div:first-child {
  padding-left: 0;
}

.three-columns {
  background-color: #E7F7FF;
  height: 20rem;
}

.landing-image {
  width: 100%;
  margin-bottom: 3rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-bottom: 7rem;
  text-align: center;
}

#login-form h2 {
  font-size: 2.3rem;
  margin-bottom: 4rem;
}

#login-form p {
  max-width: 78%;
  margin-inline: auto;
}

.login-fields .field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.login-fields label {
  margin: 0;
}

.login-fields input {
  width: 100%;
  font-size: 1.2rem;
}

.circle {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 105vw;
  width: 105vw;
  left: 50vw;
  top: -42vw;
}

.circle-content {
  z-index: 2;
  text-align: right;
  padding: 4rem;
  padding-top: 10rem;
  color: var(--alces-grey);
}

.circle-content strong {
  font-size: 4.6rem;
  line-height: 5rem;
}

.circle-content .tagline {
  margin: 4rem 0 5rem 7.5rem;
  line-height: 2.3rem;
}

.circle-content .button {
  font-size: 1.3rem;
  padding: 0.7rem 3rem;
}

.chart {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
  height: 60vh;
}

#costs-chart-form {
  margin-bottom: 2rem;
}

.charts-form-label {
  margin-left: 0.85rem; 
}

#cost-chart-nav {
  margin-left: 4rem;
  margin-right: 5rem;
}

.costs-pane {
  border: 1px;
  border-color: #dee2e6;
  border-style: solid;
  border-top: none;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 3rem;
}

.events-table-header {
  border: 0.08rem solid;
  border-right-width:  0.05rem;
}

#static-instances-table {
  margin-bottom: 4rem;
}

th {
  border-color: #dee2e6 !important;
}

td {
  border-top: none !important;
}

.billing-overview {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#billing-cycles-table {
  margin-bottom: 6rem;
}

.tool-tip {
  color: var(--alces-blue);
}

.tool-tip.core {
  color: white;
}

.tool-tip:hover {
  text-decoration: none;
}

.flush {
  margin-left: -1.55rem;
}

.simple-node-details {
  padding-left: 2rem !important;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.simple-node-count {
  width: 4.5rem !important;
  text-align: center;
  text-align-last: center;
}

.pending {
  color: #f26907;
}

.wizard {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.wizard-title {
  text-align: center;
  padding: 1rem;
}

.wizard-body {
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 1.3rem 0 rgba(0, 0, 0, 0.19);
}

.select-count-type {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#wizard-footer {
  margin: 2rem
}

#wizard-next-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

#wizard-choose-when {
  margin-bottom: 2rem;
}

.select-timeframe {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#event-start-title {
  margin-bottom: 2.2rem;
}

.disabled {
  pointer-events: auto !important;
}

input[type=date] {
  width: 10rem !important;
}

.day-checkbox {
  padding-right: 0.14rem !important;
}

#scheduled-description {
  width: 15rem;
}

#wizard-choose-extras {
  margin-bottom: 2rem;
}

#loading-chart-spinner {
  position: absolute;
  top: 50%;
  left: calc(50% - 1rem);
}

#request-summary {
  margin-top: 2rem;
  margin-left: 4rem;
}

.events-table-header {
  border: 0.08rem solid;
  border-right-width:  0.05rem;
}

.events-table-explainer {
  border-bottom: 0 !important;
  padding-bottom: 0.075rem !important;
}

.events-sub-header {
  border-top: 0 !important;
}

.timezone-tooltip {
  color:  white;
  text-decoration: none
}

.edit-button {
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

#project-nav {
  min-height: calc(100vh - 5rem);
  padding-right: 0;
  padding-top: 2rem;
  border-right: solid;
  border-right-width: 0.09rem;
  border-right-color: lightgrey;
}

.project-link {
  border-radius: 0 !important;
}

.extras-input {
  margin-left: 1rem;
  margin-right: 1rem;
}

#description-form {
  margin-right: 5rem;
}

.extras-section {
  margin-top: 1rem;
}

.toggle-handle {
  background-color: white !important;
}

#power-down-policies-title {
  margin-left: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.utilisation-input {
  width: 7rem !important;
}

.override-input {
  width: 5rem !important;
}

#policies-table td {
  vertical-align:  middle;
}

.audit-logs {
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.audit-log {
  margin-bottom: 2rem;
}

.change-request-header {
  background-color: #3ba549 !important;
  color: white;
}

.request-change-header {
  background-color: #fca24e !important;
  color: white;
}

.automated-action-header {
  background-color: #17a2b8 !important;
}

.action-header {
  background-color: #6C757D !important;
}

.request-cancel-header {
  background-color: #ea2309 !important;
  color: white;
}

.config-log-header {
  background-color: #875F9A !important;
  color: white;
}

.card-footer {
  padding: 0.5rem !important;
}

.change-details {
  padding-left: 2rem;
}

.edit-request-link {
  margin-left: 0.5rem !important;
}

.audit-form-label {
  margin-left: 0.9rem;
}

#over-budget-switch-offs-checkbox {
  display: none;
}

/* Top Bar Tweaks */
.bg-dark {
  background-color: var(--navbar-grey) !important;
}

.brand-bar {
  background-color: var(--navbar-grey);
  padding: 0.8rem 1rem;
  border-bottom: solid var(--alces-blue) 0.45rem;
}

.navbar-brand-wrapper {
  position: relative;
  padding-right: 2rem;
}

.control-subtitle {
 color:white;
 position:absolute;
 font-size:1rem;
 font-weight:700;
 font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
 text-transform:lowercase;
 left:12.7rem;
 top:2.2rem
}

.brand-logo {
  max-height: 3.125rem
}

/* Page Nav Tweaks */

nav {
  z-index: 2;
}

.top.nav-link {
  color: white !important;
  border: 0 !important;
}

.top.nav-link.active {
  color: #6bb0db !important;
}

.top.nav-item:hover,
.top.nav-link:hover {
  color: var(--alces-blue) !important;
}

.account-menu {
  margin-left: auto;
}

/* Fix Width Issues */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dashboard-card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.dashboard-card.overview {
  min-width: 17.8rem;
  max-width: 20rem;
}

.dashboard-card.events {
  min-width: 38.75rem;
  max-width: 50rem;
}

.dashboard-card.groups {
  min-width: 17.5rem;
  max-width: 17.5rem;
}

.groups-card-heading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}

.core, .core > .dashboard-list-item {
  color: white;
  background-color: #343a40 !important;
}

.dashboard-list-item {
  padding: 0;
  border: 0;
}

.fa-pencil, .fa-cog {
  color: var(--alces-blue);
  margin-right: 0.8rem;
}

.fa-trash {
  color: rgba(227,30,0,1);
}

td.budget-switch-off {
  font-style: italic;
}

.dashboard-btn.btn-info {
  background-color: var(--alces-blue) !important;
  white-space: nowrap;
}

.dashboard-btn.btn-info.core {
  border-color: rgba(45,120,175,1);
}

.dashboard-btn.btn-info:hover {
  background-color: rgba(35,110,160,1) !important;
}

.dashboard-btn.btn-info.core:hover {
  border-color: rgba(35,110,160,1)
}

.dashboard-btn:focus {
  box-shadow: none;
}

.dashboard-btn.groups {
  margin-inline: 0.25rem;
}

a:hover {
  text-decoration: none;
}

:root {
  --alces-blue: #2693D7;
  --alces-grey: #586674;
  --light-bg-blue: #D4F0FD;
  --text-grey: #3D3D3D;
  --navbar-grey: #191919;
}
