body {
  font-family: 'Work Sans', sans-serif !important;
}

.chart {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
  height: 60vh;
}

#costs-chart-form {
  margin-bottom: 2rem;
}

.charts-form-label {
  margin-left: 0.85rem; 
}

#cost-chart-nav {
  margin-left: 4rem;
  margin-right: 5rem;
}

.costs-pane {
  border: 1px;
  border-color: #dee2e6;
  border-style: solid;
  border-top: none;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 3rem;
}

.events-table-header {
  border: 0.08rem solid;
  border-right-width:  0.05rem;
}

#static-instances-table {
  margin-bottom: 4rem;
}

th {
  border-color: #dee2e6 !important;
}

td {
  border-top: none !important;
}

.billing-overview {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#billing-cycles-table {
  margin-bottom: 6rem;
}

.tool-tip:hover {
  text-decoration: none;
}

.flush {
  margin-left: -1.55rem;
}

.simple-node-details {
  padding-left: 2rem !important;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.simple-node-count {
  width: 4.5rem !important;
  text-align: center;
  text-align-last: center;
}

.pending {
  color: #f26907;
}

.wizard {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.wizard-title {
  text-align: center;
  padding: 1rem;
}

.wizard-body {
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 1.3rem 0 rgba(0, 0, 0, 0.19);
}

.select-count-type {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#wizard-footer {
  margin: 2rem
}

#wizard-next-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

#wizard-choose-when {
  margin-bottom: 2rem;
}

.select-timeframe {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#event-start-title {
  margin-bottom: 2.2rem;
}

.disabled {
  pointer-events: auto !important;
}

input[type=date] {
  width: 10rem !important;
}

.day-checkbox {
  padding-right: 0.14rem !important;
}

#scheduled-description {
  width: 15rem;
}

#wizard-choose-extras {
  margin-bottom: 2rem;
}

#loading-chart-spinner {
  position: absolute;
  top: 50%;
  left: calc(50% - 1rem);
}

#request-summary {
  margin-top: 2rem;
  margin-left: 4rem;
}

.events-table-header {
  border: 0.08rem solid;
  border-right-width:  0.05rem;
}

.events-table-explainer {
  border-bottom: 0 !important;
  padding-bottom: 0.075rem !important;
}

.events-sub-header {
  border-top: 0 !important;
}

#timezone-tooltip {
  color:  white;
  text-decoration: none
}

.login-input {
  width: 12rem !important;
}

.edit-button {
  margin-left: 0.35rem;
}

#project-nav {
  min-height: calc(100vh - 5rem);
  padding-right: 0;
  padding-top: 2rem;
  border-right: solid;
  border-right-width: 0.09rem;
  border-right-color: lightgrey;
}

.project-link {
  border-radius: 0 !important;
}

.extras-input {
  margin-left: 1rem;
  margin-right: 1rem;
}

#description-form {
  margin-right: 5rem;
}

.extras-section {
  margin-top: 1rem;
}

.toggle-handle {
  background-color: white !important;
}

#power-down-policies-title {
  margin-left: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.utilisation-input {
  width: 7rem !important;
}

.override-input {
  width: 5rem !important;
}

#policies-table td {
  vertical-align:  middle;
}

.audit-logs {
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.audit-log {
  margin-bottom: 2rem;
}

.change-request-header {
  background-color: #3ba549 !important;
  color: white;
}

.request-change-header {
  background-color: #fca24e !important;
  color: white;
}

.automated-action-header {
  background-color: #17a2b8 !important;
}

.action-header {
  background-color: #6C757D !important;
}

.request-cancel-header {
  background-color: #ea2309 !important;
  color: white;
}

.config-log-header {
  background-color: #875F9A !important;
  color: white;
}

.card-footer {
  padding: 0.5rem !important;
}

.change-details {
  padding-left: 2rem;
}

.edit-request-link {
  margin-left: 0.5rem !important;
}

.audit-form-label {
  margin-left: 0.9rem;
}

#over-budget-switch-offs-checkbox {
  display: none;
}

/* Top Bar Tweaks */
.bg-dark {
  background-color: rgba(0,0,0,0.9) !important;
}

.brand-bar {
 background-color:rgba(0,0,0,0.9);
 height:75px;
 padding:0.25rem 1rem
}

.navbar-brand-wrapper {
  position: relative;
}

.control-subtitle {
 color:white;
 position:absolute;
 font-size:16px;
 font-weight:700;
 font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
 text-transform:lowercase;
 left:203px;
 top:35px
}

.brand-logo {
  max-height: 50px
}

/* Page Nav Tweaks */
.top.nav {
  background-color: rgba(50,136,188,1) !important;
}

.top.nav-tabs {
  border-bottom: 1px solid rgba(50,136,188,1) !important;
}

.top.nav-link {
  color: white !important;
  background-color: rgba(50,136,188,1) !important;
  border: 0 !important;
  border-radius: 0;
}

.top.nav-item:hover,
.top.nav-link:hover {
  color: #2C3E50 !important;
}

.top.nav-link.active {
  color: white !important;
  background-color: #2C3E50 !important;
}

.top.nav-item {
  background-color: rgba(50,136,188,1) !important;
}

/* Fix Width Issues */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item {
  padding: 0px;
  border: 0px;
}

a:hover {
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}

.card {
  margin: 0 auto !important;
}
