body {
  font-family: 'Work Sans', sans-serif;
}

.chart {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  margin-right: 5rem;
  height: 60vh;
}

#costs-chart-form {
  margin-bottom: 2rem;
}

.charts-form-label {
  margin-left: 0.85rem; 
}

#cost-chart-nav {
  margin-left: 4rem;
  margin-right: 5rem;
}

.costs-pane {
  border: 1px;
  border-color: #dee2e6;
  border-style: solid;
  border-top: none;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
}
