/* Top Bar Tweaks */
.bg-dark {
  background-color: rgba(0,0,0,0.9) !important;
}

.brand-bar {
 background-color:rgba(0,0,0,0.9);
 height:75px;
 padding:0.25rem 1rem
}

.navbar-brand-wrapper {
  position: relative;
}

.control-subtitle {
 color:white;
 position:absolute;
 font-size:16px;
 font-weight:700;
 font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
 text-transform:lowercase;
 left:203px;
 top:35px
}

.brand-logo {
  max-height: 50px
}

/* Project Nav Tweaks */
.top.nav {
  background-color: rgba(50,136,188,1) !important;
}

.top.nav-tabs {
  border-bottom: 1px solid rgba(50,136,188,1) !important;
}

.top.nav-link {
  color: white !important;
  background-color: rgba(50,136,188,1) !important;
  border: 0px !important;
}

.top.nav-item:hover,
.top.nav-link:hover {
  color: #2C3E50 !important;
}

.top.nav-link.active {
  color: white !important;
  background-color: #2C3E50 !important;
}

.top.nav-item {
  background-color: rgba(50,136,188,1) !important;
}

/* Fix Width Issues */
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

